body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  color: white;
  padding: 1em;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1em;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li div {
  color: white;
  text-decoration: none;
}

nav ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

nav ul li div:hover {
  text-decoration: underline;
  cursor: pointer;
}

.basic-text {
  margin-left: 20px;
  margin-right: 20px;
}